.section {
    margin-top: 70px;
    height: auto;
    min-height: calc(100vh - 100px);
}

.section-title {
    letter-spacing: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-family: helvetica-thin;
}

.description {
    width: 100vw;
    font-size: 11pt;
    line-height: 25px;
    margin-bottom: 30px;
}

.images {
    width: 100vw;
}

@media all and (max-width: 767px) {
    .section-title {
        margin-top: 30px;
        margin-left: 5vw;
        margin-bottom: 30px;
        font-size: 28pt;
        width: 250px;
    }

    .description {
        padding: 0 5vw;
    }

    .images {
        padding: 0 5vw;
    }

    .about-image {
        width: 90vw;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 768px) {
    .section-title {
        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 30px;
        font-size: 32pt;
        width: 350px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .description {
        padding: 0 50px;
    }

    .images {
        padding: 0 50px;
    }

    .about-image {
        width: 43vw;
    }
}

@media all and (min-width: 1025px) {
    .description {
        padding: 0 75px;
    }

    .images {
        padding: 0 75px;
    }

    .about-image-container {
        display: inline-block;
    }

    .about-image {
        width: 300px;
    }
}