.btn-back {
    margin-bottom: 50px;
    width: 180px;
}

.section-insert {
    border-top: 1px solid black;
    padding-top: 10px;
}

.select-kategori, .select-brand {
    width: 250px;
}

.input-nama-barang {
    width: 200px;
}

.input-stok {
    width: 80px;
}

.input-harga {
    width: 100px;
}

.select-satuan-qty, .select-satuan-dimensi, .select-satuan-berat {
    width: 100px;
}

.input-panjang, .input-lebar, .input-tinggi, .input-berat {
    width: 60px;
}

textarea.input-deskripsi {
    width: 600px;
    height: 300px;
}

.btn-tambah-barang {
    margin-top: 80px;
}

.btn-simpan-perubahan {
    margin-top: 80px;
}