.section {
    margin-top: 70px;
    height: auto;
    min-height: calc(100vh - 70px);
    position: relative;
}

.center {
    width: 100vw;
    padding: 0 5vw;
    position: relative;
    overflow-y: auto;
}

.section-filter {
    position: absolute;
    bottom: 60px;
    left: 5vw;
    width: 220px;
    height: 500px;
    border: 2px solid black;
}

.filter-title {
    background-color: black;
    color: white;
    padding: 10px 10px;
}

.filter-content {
    padding: 10px;
    font-size: 10pt;
}

.filter-item {
    margin-bottom: 15px;
}

.filter-label {
    width: 100px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.filter-input {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    margin-left: 10px;
}

.checkbox-outer-container {
    margin-left: 10px;
}

.more {
    text-align: right;
    font-style: italic;
    font-size: 9pt;
    margin-top: 10px;
    cursor: pointer;
}

.section-filter.fixed {
    position: fixed;
    top: 90px;
    left: 5vw;
}

.section-result {
    width: calc(90vw - 250px);
    min-height: calc(100vh - 70px);
    margin-top: 20px;
    float: right;
}

.breadcrumb {
    margin-bottom: 20px;
}

.detail-item-container {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 60px;
}

.item-image-container {
    float: left;
    width: 400px;
}

.detail-item {
    font-size: 16pt;
    margin-bottom: 20px;
}

.item-image {
    width: 100%;
}

.text-container {
    float: left;
    width: calc(100vw - 790px);
    padding-left: 30px;
}

.detail-item-title {
    font-size: 24pt;
    font-weight: bold;
    font-family: helvetica-thin;
}

.detail-item-price {
    font-size: 16pt;
    margin-bottom: 30px;
}

.detail-item-description {
    line-height: 25px;
    margin-bottom: 20px;
}

.spec-label, .spec-value {
    display: inline;
    line-height: 25px;
}

.spec-label {
    font-weight: bold;
}

.item-quantity {
    margin-top: 20px;
}

.quantity-label {
    font-size: 14pt;
    margin-bottom: 5px;
}

.btn-qty {
    display: inline-block;
    font-size: 14pt;
    width: 27px;
    height: 27px;
    text-align: center;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-qty:hover {
    background-color: #DDD;
}

.input-qty {
    width: 50px;
    padding: 5px 0;
    border: 1px solid black;
    text-align: center;
}

.input-qty::-webkit-outer-spin-button, .input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-qty {
    -moz-appearance: textfield;
}

.btn-add-to-cart {
    margin-top: 30px;
    margin-bottom: 10px;
}

.btn-add-to-cart, .btn-buy-now {
    width: 300px;
    padding: 10px 0;
}

.dialog-category .dialog-box {
    width: 700px;
}

.dialog-category .dialog-content {
    overflow-y: auto;
    margin-bottom: 30px;
}

.dialog-category-checkbox-container {
    width: 130px;
    float: left;
    font-size: 10pt;
}

.footer {
    margin-top: 40px;
}