.register-logo {
    width: 120px;
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 30px auto 10px;
}

.register-redirect {
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 11pt;
    letter-spacing: 0;
    width: 220px;
    margin: 0 auto;
}

.register-redirect:hover {
    text-decoration: underline;
}

.section {
    margin-top: 40px;
}

.register-with-google {
    cursor: pointer;
}

.g-signin2 .abcRioButton, .g-signin2 .abcRioButton:hover {
    border: 1px solid black !important;
    box-shadow: none !important;
}

.register-box-title {
    text-align: center;
    font-weight: bold;
    font-family: helvetica-thin;
    font-size: 14pt;
    margin-bottom: 30px;
}

.login-remember-me {
    overflow-y: auto;
    margin-bottom: 30px;
}

.login-remember-me-checkbox-container {
    font-size: 10pt;
    float: left;
}

.login-remember-me-checkbox-container .checkbox {
    width: 16px;
    height: 16px;
}

.login-remember-me-checkbox-container .checkbox:after {
    top: 2px;
    left: 2px;
}

.login-remember-me-checkbox-container .checkbox-text {
    letter-spacing: 0;
    margin-left: 0 !important;
}

.btn-login {
    padding: 10px 0;
}

@media all and (max-width: 767px) {
    .section {
        height: auto;
    }

    .center {
        width: 100vw;
        padding: 0 5vw;
    }

    .register-with-google.g-signin2 .abcRioButton {
        width: 260px;
        margin: 0 auto;
    }

    .or-text {
        font-size: 11pt;
        color: #AAA;
        text-align: center;
        margin: 40px 0;
    }

    .register-box {
        width: 100%;
        padding: 5vw 5vw;
    }
}

@media all and (min-width: 768px) {
    .section {
        height: 450px;
        text-align: center;
    }

    .center {
        display: inline-block;
        text-align: left;
    }

    .section-left, .section-or, .section-right {
        float: left;
    }

    .section-left, .section-right {
        width: 400px;
        height: 100%;
    }

    .register-with-google {
        float: right;
        margin-top: 200px;
        margin-right: 80px;
    }

    .section-or {
        height: 100%;
        position: relative;
    }

    .or-text {
        position: relative;
        padding: 15px 0;
        margin-top: 200px;
        margin-left: 5px;
        font-size: 11pt;
        color: #AAA;
        background-color: white;
    }
    
    .section-or-line {
        position: absolute;
        left: 10px;
        width: 1px;
        height: 100%;
        background-color: #AAA;
    }

    .register-box {
        width: 320px;
        height: 450px;
        border: 1px solid black;
        margin-left: 80px;
        padding: 20px 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 1025px) {

}