.register-logo {
    width: 120px;
    height: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 30px auto 10px;
}

.login-redirect {
    display: block;
    text-decoration: none;
    color: #999;
    font-size: 11pt;
    letter-spacing: 0;
    width: 220px;
    margin: 0 auto;
}

.section {
    margin-top: 40px;
    height: 450px;
    text-align: center;
}

.center {
    display: inline-block;
    text-align: left;
}

.section-left, .section-or, .section-right {
    float: left;
}

.section-left, .section-right {
    width: 400px;
    height: 100%;
}

.register-with-google {
    float: right;
    margin-top: 190px;
    margin-right: 80px;
    width: 260px;
    padding: 15px;
    border: 1px solid black;
    cursor: pointer;
}

.register-with-google-icon, .register-with-google-text {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0;
    color: #555;
}

.register-with-google-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-right: 40px;
}

.section-or {
    height: 100%;
    position: relative;
}

.section-or-line {
    position: absolute;
    left: 10px;
    width: 1px;
    height: 100%;
    background-color: #AAA;
}

.or-text {
    position: relative;
    padding: 15px 0;
    margin-top: 200px;
    margin-left: 5px;
    font-size: 11pt;
    color: #AAA;
    background-color: white;
}

.register-box {
    width: 320px;
    height: 450px;
    border: 1px solid black;
    margin-left: 80px;
    padding: 20px 30px;
}

.register-box-title {
    text-align: center;
    font-weight: bold;
    font-family: helvetica-thin;
    font-size: 14pt;
    margin-bottom: 30px;
}

.btn-register {
    padding: 10px 0;
}