.section {
    margin-top: 70px;
    height: auto;
    min-height: calc(100vh - 70px);
    position: relative;
}

.center {
    width: 100vw;
    position: relative;
    overflow-y: auto;
}

.filter-title {
    background-color: black;
    color: white;
}

.filter-content {
    font-size: 10pt;
}

.filter-item {
    margin-bottom: 15px;
}

.filter-label {
    width: 100px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.filter-input {
    border: 1px solid black;
    padding: 5px;
    width: 150px;
    margin-left: 10px;
}

.checkbox-outer-container {
    margin-left: 10px;
}

.more {
    text-align: right;
    font-style: italic;
    font-size: 9pt;
    margin-top: 10px;
    cursor: pointer;
}

.search-result-text {
    margin-top: 10px;
}

.shop-title {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    font-family: helvetica-thin;
    font-weight: bold;
}

.item-image {
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.item-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.item-price {
    margin-bottom: 10px;
}

.btn-add-to-cart {
    margin-bottom: 10px;
}

.dialog-category .dialog-box, .dialog-brand .dialog-box {
    width: 700px;
}

.dialog-category .dialog-content, .dialog-brand .dialog-content {
    overflow-y: auto;
    margin-bottom: 30px;
}

.dialog-category-checkbox-container, .dialog-brand-checkbox-container {
    width: 130px;
    float: left;
    font-size: 10pt;
}

.footer {
    margin-top: 40px;
}

@media all and (max-width: 767px) {
    .center {
        padding: 0 5vw;
    }

    .section-filter {
        position: fixed;
        bottom: 25px;
        left: 20px;
        border-radius: 50px;
        width: 150px;
        height: 50px;
        z-index: 500;
        background-color: black;
    }

    .filter-title {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        padding-top: 18px;
        text-align: center;
    }

    .filter-content {
        position: fixed;
        top: 70px;
        left: -100vw;
        width: 100vw;
        height: calc(100vh - 70px);
        padding: 5vw 5vw;
        background-color: white;

        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    body.show-filter-content .filter-content {
        left: 0;
    }

    .filter-close-icon {
        margin-bottom: 20px;
        width: 130px;
    }

    .filter-close-text {
        margin-top: -21px;
        margin-left: 40px;
    }

    .input-name {
        width: 250px;
    }

    .section-result {
        width: 100vw;
        margin-top: 30px;
    }

    .item {
        width: 42vw;
        float: left;
        margin-right: 6vw;
        margin-bottom: 60px;
    }

    .item:nth-child(even) {
        margin-right: 0;
    }

    .item-image {
        width: 42vw;
        height: 42vw;
    }

    .dialog-category .dialog-box, .dialog-brand .dialog-box {
        width: 100vw;
        height: 450px;
    }

    .dialog-category .dialog-content, .dialog-brand .dialog-content {
        height: 300px;
        overflow-y: auto;
    }
}

@media all and (min-width: 768px) {
    .filter-close-icon {
        display: none;
    }

    .section-filter {
        position: absolute;
        bottom: 60px;
        left: 5vw;
        height: 500px;
        border: 2px solid black;
    }

    .section-filter.fixed {
        position: fixed;
        top: 90px;
    }

    .filter-title {
        padding: 10px 10px;
    }

    .filter-content {
        padding: 10px;
    }

    .section-result {
        margin-top: 20px;
        float: right;
    }

    .item {
        width: 150px;
        float: left;
        margin-right: 20px;
        margin-bottom: 60px;
    }

    .item-image {
        width: 150px;
        height: 150px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding: 0 4vw;
    }

    .section-filter {
        width: 200px;
    }

    .section-filter.fixed {
        left: 4vw;
    }

    .section-result {
        width: calc(90vw - 210px);
    }

    .item {
        margin-right: 15px;
    }

    .item:nth-child(3n) {
        margin-right: 0;
    }
}

@media all and (min-width: 1025px) {
    .center {
        padding: 0 5vw;
    }

    .section-filter {
        width: 220px;
    }

    .section-filter.fixed {
        left: 5vw;
    }

    .section-result {
        width: calc(90vw - 250px);
    }
}